.react-select-container{
    background-color: red ;
    color: red;
}
.react-select__menu{
    background-color: red ;


}

.react-select__menu-list{
    background-color: red ;


}

.react-select__option{
    background-color: red ;

}

.react-select__control{
    background-color: red !important;

}